.Sections{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 1rem;
    font-size: 20px;
}

.UserPhoto{
    position: absolute;
    width: 35%;
    height: 100%;
}

.UserDetailsDiv{
    position: absolute;
    width: 60%;
    left: auto;
    right: 0;
    background: transparent;
    border-left: 1px solid #cdcdcd20;
}

.UsedOptionsDiv{
    top: auto;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #cdcdcd20;
    border-radius: 0px;
    display: inline-flex;
    height: 45px;
    background: transparent;
}

.Friends{
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    color: teal;
}

.UserOptionsDiv{
    position: absolute;
    top: 43%;
    width: 95%;
    left: 2%;
    border-radius: 50px;
    border: 1px solid #cdcdcd20;
    border-radius: 0px;
    display: inline-flex;
    height: 50px;
    background: transparent;
}

.UserEmail{
    font-size: 11px;
    top: 20%;
    border-bottom: 1px solid #cdcdcd20;
    padding: 0.5%;
    color: ivory;
}

.MyPostsDiv{
    top: 33%;
    background: transparent;
    overflow-y: auto;
    overflow-x: hidden;
}

.NoPosts{
    color: #cdcdcd90;
    font-size: 20px;
}

.PosterMyImage{
    width: 30%;
    height: 180px;
    margin: 1% 1.2%;
}