.LaoderIcon{
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: 12rem;
    margin-left: 6rem;
    height: auto;
    border-radius: 100px;
    border: 1px solid red;
    padding: 2%;
}