@import url('./HomePagePosts.css');

.RoundFooter{
    background: transparent;
    height: 45px;
    border: none !important ;
    width: 100% !important;
    left: 0  !important;
    border-radius: 0px !important;
    bottom: 0 !important;

}

#HomeDiv{
    background: transparent;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 8%;
}

.ProfileImager{
    width: 40px;
    height: 40px;
    object-fit: fit;
    border-radius: 100px;
}