.PostHolder{
    position: relative;
    width: 95%;
    height: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    left: 2%;
    border-radius: 10px;
    background: #01012040;
    border: 1px solid #80808010;
}

.PostImage {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fit;
}

.OptionsHeader{
    background: transparent;
    bottom: auto;
    height: 50px;
    top: 0;
    display: inline-flex;  
}
.Time{
   font-size: 15px;
   text-align: right; 
   width: 50%;
   margin-left: auto;
   margin-right: 0.5rem;
   margin-top: auto;
   margin-bottom: auto;
}

.UserImage{
    width: 40px;
    height: 40px;
    object-fit: fit;
    margin-left: 0.5rem;
    border-radius: 100px;
}

#Follow{
    margin-top: auto;
    margin-bottom: auto;
    width: 30%;
    height: 30px;
    margin-right: 1rem;
}

.PostersName{
    width: 100%;
    left: -2%;
    font-size: 16px;
    margin-top: auto;
    margin-left: 1rem;
    margin-bottom: auto;
    margin-right: auto;
    color: brown;
    text-align: left;
}

.ImageHolder{
    position: absolute;
    top: 50px;
    bottom: 50px;
    background: transparent;
}

.OptionsFooter{
    background: #80808010;
    bottom: 0;
    height: 50px;
    top: auto;
    display: inline-flex;
}

.Options{
    background: transparent;
    border-radius: 50px;
}

