.ProfilePicture{
    margin-right: 1rem;
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

.HomeSearch{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid #cdcdcd20;
    padding: 2%;
    border-radius: 5px;
}