.HeaderOption{
    margin-right: 1rem;
    margin-left: auto;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.ImagePreview{
    width: 95%;
    left: 2%;
    height: auto;
    max-height: 70%;
    border-radius: 20px;
}